header {
    margin: 0;
    padding: 0;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: 1rem;
}

.section1 {
    background-color: green;
    color: white;
    margin-top: 100px;
}

a {
    text-align: center;
}